.vehicleFileSectionContainerProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.carrouselAndVehicleInformationProperties{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-content: center;
}

.tableCharacteristicProperties{
    border: 2px solid var(--neutral-3);
    border-radius: var(--20px);
    width: 50%;
    height: fit-content;
    padding: var(--20px);
    margin-left: 5%;
    gap: var(--20px);
}

.underlineProperties{
    width: 100%;
    border-bottom: 2px solid var(--neutral-3);
}

.tableCharacteristicProperties span{
    font-weight: bold;
}