.vehicleFileSectionContainerProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.carrouselAndVehicleInformationProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-content: center;
}
/*----------------------------------------------------*/
.descriptionContainerProperties{
    display: flex;
    flex-direction: column;
    gap: var(--10px);
}

.descriptionContainerProperties, .aditionalInfoContainerProperties{
    border: 1px solid var(--neutral-3);
    border-radius: var(--20px);
    width: 95%;
    padding: 16px 20px;
    margin-inline: auto;
    color: var(--neutral-5);
}

.aditionalInfoContainerProperties{
    background-color: var(--neutral-3);
}

.secondInfoContainerProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--20px);
    margin: var(--40px);
    margin-inline: 0;
}

.aditionalInfoContainerProperties{
    display: flex;
    flex-direction: column;
    gap: var(--10px);
}

.buttonContainerProperties{
    display: flex;
    width: 95%;
    margin: var(--20px);
    margin-inline: auto;
}

.secondContainerProperties{
    display: flex;
    flex-direction: column;
}

.titleAndEditButtonProperties{
    display: flex;
    flex-direction: row;
    gap: var(--10px);
}

.inputProperties{
    border-radius: var(--20px);
    border: var(--red-1) 1px solid;
    padding: var(--10px);
    width: fit-content;
}

@media (min-width: 768px) {
    .carrouselAndVehicleInformationProperties{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: center;
        align-content: center;
    }

    .secondContainerProperties{
        display: flex;
        flex-direction: row;
    }

    .secondInfoContainerProperties{
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: var(--20px);
    }

    .descriptionContainerProperties, .aditionalInfoContainerProperties{
        border: 1px solid var(--neutral-3);
        border-radius: var(--20px);
        width: 80%;
        padding: 16px 20px;
        margin-left: 5%;
        color: var(--neutral-5);
    }

    .buttonContainerProperties{
        width: 80%;
        margin-left: 5%;
    }
}