.vehicleTypeFilterContainerProperties{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: var(--searchbar);
    justify-content: center;
    align-items: center;
    padding: var(--20px);
    padding-inline: 0;
    border-radius: var(--5px);
    gap: var(--20px);
    justify-self: center;
}

@media (min-width: 768px) {
    .vehicleTypeFilterContainerProperties{
        justify-self: left;

        width: 300px;

        margin: var(--50px);
        margin-inline: var(--30px);
    }
}