.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;

    min-width: 370px;
    max-width: 390px;
    min-height: 380px;

    color: white;
}

.main img {
    z-index: 0;
}