.sectionFormAndInstructions{
    height: 100%;
    margin-left: var(--50px);
}

.sectionFormAndInstructions, .advertationProperties{
    justify-content: center;
}

.sectionFormAndInstructions, .infoProperties, .sectionFormAndInstructions form{
    display: flex;
    flex-direction: column;
}

.infoProperties{
    width: 460px;
    margin-bottom: var(--50px);
}

.infoProperties h2{
    font-weight: bold;
    font-size: var(--40px);
}

.infoProperties p, .sectionFormAndInstructions form label{
    font-size: 18px;
}

.sectionFormAndInstructions form{
    width: 350px;
}

.sectionFormAndInstructions form input{
    border-radius: var(--20px);
    background-color: var(--neutral-3);
    padding-left: var(--20px);
    margin-bottom: var(--20px);
    width: 460px;
    height: 40px;
}

.sectionFormAndInstructions form label, .advertationProperties span{
    color: var(--red-1);
}

.sectionFormAndInstructions form button{
    background-color: var(--green-1);
    border-radius: var(--20px);
    color: var(--font-light-color);
    width: 460px;
    height: 40px;
}

.sectionFormAndInstructions form input::placeholder{
    padding-left: var(--10px);
    color: var(--neutral-1);
    font-size: var(--15px);
}

.advertationProperties{
    display: flex;
    gap: var(--10px);
    margin-top: var(--10px);
    margin-left: var(--50px);
}

.advertationProperties span {
    text-decoration: underline;
}