.featuredCardsContainerProperties{
    display: flex;
    flex-direction: column;
    background-color: var(--fonr-dark-color);
    width: 100%;
    min-height: 500px;
    color: var(--font-light-color);
    margin-top: 50px;
}

.titleProperties{
    margin: var(--15px);
    margin-inline: auto;
}

.featuredCardsContainerProperties h1 {
    font-weight: bold;
}

@media (min-width: 768px) {
    .titleProperties{
        margin-inline: var(--30px);
    }
}