.vehicleFiltersContainerProperties{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    margin: 0;
    margin-inline: auto;
}

.vehicleFiltersContainerProperties h6{
    font-weight: bold;
}

.vehicleFilterProperties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--50px);
    border-bottom: 2px var(--red-1) solid;
    align-items: center;
}

.vehicleFilterProperties option{
    color: var(--fonr-dark-color);
}

@media (min-width: 768px) {
    .vehicleFiltersContainerProperties {
        margin-top: 50px;
        margin-left: 30px;
    }
}