.vehicleFiltersContainerProperties{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    margin: 0;
    margin-inline: auto;
}

.vehicleFiltersContainerProperties h6{
    font-weight: bold;
}

.vehicleFilterProperties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--50px);
    border-bottom: 2px var(--red-1) solid;
    align-items: center;
}

.vehicleFilterProperties option{
    color: var(--fonr-dark-color);
}

.applyButton {
    margin-top: 20px;
    border: 2px solid var(--red-1);
    background: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: var(--font-dark-color);
    transition: 0.2s ease;
}

.applyButton:hover {
    background: var(--red-1);
    color: white;
}


@media (min-width: 768px) {
    .vehicleFiltersContainerProperties {
        margin-top: 50px;
        margin-left: 30px;
    }
}