.vehicleFiltersContainerProperties{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: fit-content;
    padding: var(--20px);
}

.vehicleFiltersContainerProperties h6{
    font-weight: bold;
}

.vehicleFilterProperties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: var(--50px);
    border-bottom: 2px var(--red-1) solid;
    align-items: center;
}

.vehicleFilterProperties option{
    color: var(--fonr-dark-color);
}