.searchSectionContainerProperties{
    background-image: url("/backgrounds/searchBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 360px;
}

.searchProperties{
    background-color: rgba(5, 5, 5, 0.9);
    width: 100%;
    height: 100%;
    color: var(--font-light-color);
    gap: var(--15px);
}

.searchPropertiesSubtitleProperties{
    font-style: oblique;
    text-align: center;
}

.searchProperties h3{
    font-size: var(--h1);
    font-family: "Arial";
    font-weight: bolder;
    text-align: center;
}

.presentationProperties, .searchProperties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}

.main {
    position: relative;
    width: 60%;
    height: 45px;
}

.inputProperties{
    width: 100%;
    height: 100%;

    padding-left: var(--20px);
    background-color: var(--neutral-1);
    border: none;
    border-radius: var(--50px);
    color: var(--neutral-5);
}

.searchIconProperties {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIconProperties img {
    width: 20px;
    height: 20px;
}


.inputProperties::placeholder{
    color: var(--red-2);
}

@media (min-width: 768px) {
    .searchProperties h3{
        font-size: var(--30px);
    }

    .inputProperties{
        width: 500px;
        height: 45px;
    }
}

@media (min-width: 768px) {
    .searchProperties h3{
        font-size: var(--40px);
    }
}