.detailItem{
    display: flex;
    flex-direction: row;
    gap: var(--10px);
}

.itemsContainerProperties{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: var(--15px);
}