.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 225px;
    height: fit-content;

    padding: var(--5px);

    border: 1px solid var(--red-1);
    border-radius: var(--50px);
    color: var(--red-1);
    transition: 0.3s ease-in-out;

    cursor: pointer;
}

.button:hover {
    border: 1px solid var(--neutral-1);
    color: var(--neutral-1);
    background-color: var(--red-1);
    box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    font-weight: bolder;
}